# Coverage and test output
*.out
*.test

# Go build artifacts
*.exe
*.dll
*.so
*.dylib

# golangci-lint migrate backup
*.bck.yml

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop

# IDE
.idea/
.vscode/
